# Dependencies
node_modules/

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo
tsconfig.build.tsbuildinfo

# Environment
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*


.DS_Store
*.rdb